html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(40, 40, 40);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  padding: 1rem;
  border-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(60, 60, 60);
}

table {
  margin-top: 0.5rem;
  border-collapse: collapse;
}

tbody th {
  text-align: left;
}

td,
th {
  text-align: right;
  border: 1px solid rgb(60, 60, 60);
  padding: 0.4rem;
}

#interaction {
  flex-grow: 1;
}

#lockPointer {
  margin: 2rem auto 0;
  width: fit-content;
  cursor: pointer;
  padding: 0.5rem;
  background-color: rgb(50, 50, 50);
}

#instructions {
  font-size: 2rem;
}

#instructions a,
#note a {
  color: lightblue;
}

.warning {
  background-color: red;
}

#resolution {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  color: green;
  font-size: 0.8rem;
}
